ef-exp-api/src/main/mule/delete-client.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="delete:\clients\(id):client-tf-gonza-config">
		<http:request method="DELETE" doc:name="Request" doc:id="7618ce68-022c-47b0-b3a2-cac0f68c04c9" config-ref="HTTP_Request_configuration" path="/clients/{id}">
			<http:uri-params ><![CDATA[#[{
	id : attributes.uriParams.id
}]]]></http:uri-params>
		</http:request>
    
</flow>
</mule>
