.tooling-apps-cache/app/ef-proc-api/get-client.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="581f75e9-9bf1-4fd0-8ccf-5024585288de" basePath="/api" >
		<http:request-connection host="0.0.0.0" port="8083" />
	</http:request-config>
	<flow name="get:\clients:client-tf-gonza-config">
        <logger level="INFO" doc:name="Logger" doc:id="187ab231-caef-492c-b10e-05e348387210" message="llegando a process client"/>
		<choice doc:name="Choice" doc:id="d39b68f1-880c-44bf-8b60-51b33de9abbf" >
			<when expression="#[attributes.queryParams.state != null]">
				<http:request method="GET" doc:name="Request" doc:id="79f47f28-7cbe-4a04-9630-cd10d3b0afa5" config-ref="HTTP_Request_configuration1" path="/clients" >
					<http:query-params ><![CDATA[#[{
	state : attributes.queryParams.state
}]]]></http:query-params>
				</http:request>
			</when>
			<otherwise >
				<http:request method="GET" doc:name="Request" doc:id="79017464-8fc3-45b4-bbc2-b0d35a163eea" config-ref="HTTP_Request_configuration" path="/clients"/>
			</otherwise>
		</choice>
    
</flow>
</mule>
