.tooling-apps-cache/app/ef-sys-api/post-client-db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="post:\clients:application\json:client-tf-gonza-config">
		<db:insert doc:name="Insert a new client" doc:id="0bac0287-7c1c-4ffc-a95b-24df90895251" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO client(name, dni, tel, address) VALUES (:name, :dni, :tel, :address)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	name : payload.name,
	dni : payload.dni,
	tel : payload.tel,
	address : payload.address,
	
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  " Message": "Client created"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>